[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[user]
	email = 175489935+joaoloureirop@users.noreply.github.com
	name = João Loureiro
	signingkey = /Users/joao/.ssh/id_ed25519.pub
[pull]
	rebase = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
